<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping Site for Watches<br>time trove</title>
    <!-- css -->
    <link rel="stylesheet" href="../css/user_login.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/single_product.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- jQuery and the Magnify  for zoom effect -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.6/js/jquery.magnify.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.6/css/magnify.min.css">
    <!-- /jQuery and the Magnify  for zoom effect -->
    <script>
        var $j = jQuery.noConflict();
    </script>
</head>

<body>

    <!-- header section -->
    <header class="head-section">
        <div class="container-fluid">
            <div class="row p-0">
                <div class="col-12 m-0 head-section d-flex align-items-center p-0">
                    <!-- logo  -->
                    
                    <svg class="logo" width="115" height="115" viewBox="0 0 115 115" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M31 90.44C26.7867 90.44 23.8267 89.1867 22.12 86.68C21.5333 85.88 21.24 84.84 21.24 83.56C21.24 82.12 21.6933 80.8667 22.6 79.8C23.6667 78.5733 25 77.96 26.6 77.96C27.6667 77.96 28.52 78.3333 29.16 79.08C29.7467 79.6667 30.04 80.4667 30.04 81.48C30.04 82.76 29.5867 83.8 28.68 84.6C27.7733 85.3467 26.8133 85.72 25.8 85.72C24.8933 85.72 24.0667 85.4 23.32 84.76C24.2267 86.7867 25.8533 87.8 28.2 87.8C33.6933 87.8 38.84 84.2267 43.64 77.08C44.8667 75.32 46.0667 73.48 47.24 71.56C48.4133 69.5867 49.5867 67.5333 50.76 65.4C51.8267 63.3733 52.8933 61.3467 53.96 59.32C55.0267 57.2933 56.0933 55.2667 57.16 53.24C61.5333 44.9733 66.36 40.0667 71.64 38.52C69.6133 38.2533 67.5867 37.96 65.56 37.64C63.5867 37.32 61.5867 37 59.56 36.68C57.16 36.3067 54.9467 36.04 52.92 35.88C50.9467 35.72 49.1867 35.64 47.64 35.64C41.3467 35.64 36.2533 36.9467 32.36 39.56C30.12 41.0533 28.3333 42.8667 27 45C25.6133 47.1867 24.92 49.2933 24.92 51.32C24.92 56.0133 28.0667 58.36 34.36 58.36C36.4933 58.36 38.6267 57.96 40.76 57.16C42.8933 56.3067 45.08 55.1067 47.32 53.56C49.1867 52.1733 50.92 50.6267 52.52 48.92C54.12 47.16 55.5333 45.2133 56.76 43.08C57.0267 42.6533 57.3733 42.44 57.8 42.44C58.44 42.44 58.6267 42.68 58.36 43.16C57.2933 45.6133 55.9867 47.8533 54.44 49.88C52.8933 51.8533 51.08 53.6133 49 55.16C44.7333 58.2533 40.0133 59.8 34.84 59.8C32.5467 59.8 30.4933 59.5067 28.68 58.92C26.8667 58.28 25.3467 57.32 24.12 56.04C22.0933 53.9067 21.08 51.3467 21.08 48.36C21.08 45.7467 21.88 43.2133 23.48 40.76C25.08 38.2533 27.3467 36.2533 30.28 34.76C35.08 32.4133 40.3867 31.24 46.2 31.24C48.28 31.24 50.7867 31.4267 53.72 31.8C56.6533 32.1733 60.0133 32.7333 63.8 33.48C68.8667 34.4933 73.0267 35.24 76.28 35.72C79.5333 36.2 81.88 36.44 83.32 36.44C86.4667 36.44 89 35.88 90.92 34.76C91.24 34.6 91.5067 34.52 91.72 34.52C92.04 34.52 92.2 34.7333 92.2 35.16C92.2 35.5333 91.9867 35.8533 91.56 36.12C88.04 38.52 83.5867 39.56 78.2 39.24L75.64 39C70.52 39.5867 66.28 44.0133 62.92 52.28C58.44 63.2133 55.7733 69.5067 54.92 71.16C51.3467 78.0933 47.1067 83.32 42.2 86.84C38.84 89.24 35.1067 90.44 31 90.44ZM76.2094 87C72.7427 87 71.0094 85.1067 71.0094 81.32C71.0094 80.5733 71.0627 79.8 71.1694 79C71.3294 78.2 71.5694 77.4 71.8894 76.6C74.716 69.1333 77.116 63.0533 79.0894 58.36H73.8894L74.8494 56.6H79.8094L81.7294 51C82.4227 49.0267 83.0094 47.8533 83.4894 47.48C83.8627 47.2133 84.716 47.08 86.0494 47.08L89.4894 47.16C88.4227 48.0667 87.6227 49.16 87.0894 50.44L84.4494 56.6H90.5294L89.5694 58.36H83.7294C83.356 59.2133 82.9827 60.0667 82.6094 60.92C82.2894 61.7733 81.916 62.6533 81.4894 63.56C80.3694 66.0133 79.4094 68.3333 78.6094 70.52C77.6494 73.0267 76.876 75.1867 76.2894 77C75.756 78.8133 75.436 80.2533 75.3294 81.32C75.116 83.9333 75.8094 85.24 77.4094 85.24C78.9027 85.24 80.716 83.64 82.8494 80.44L83.8094 81.56C81.2494 85.1867 78.716 87 76.2094 87Z"
                            fill="#FDFFA8" />
                        <path
                            d="M57.55 114.1C88.7817 114.1 114.1 88.7817 114.1 57.55C114.1 26.3183 88.7817 1 57.55 1C26.3183 1 1 26.3183 1 57.55C1 88.7817 26.3183 114.1 57.55 114.1Z"
                            stroke="#F1F5D9" stroke-width="1.38095" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <!-- /logo -->
                    <!-- icons -->
                    <div class="icons">
                        <ul class="useroption p-0 m-0 d-flex align-items-center list-unstyled">
                            <li>
                                <a href="#" class="search">
                                    <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="/user-login" class="person">
                                    <span><svg class="person-icon "  xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                      </svg></span>
                                      <!-- <i class="bi bi-person-fill"></i> -->
                                </a>
                            </li>
                            <li>
                                <a href="#" class="cart">
                                    <span class="bag-icon"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="wishlist">
                                    <span class="heart-icon"><i class="fa fa-heart" aria-hidden="true"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /icons -->
                </div>

            </div>
        </div>
    </header>
    <!-- /header section -->

    <!-- main section -->
    <main class="productMain-section" style="min-height: 77vh;">
        <div class="container-fluid">
            <div class="row p-0">
                <div class="col-12 m-0 d-flex p-0">
                    
                   <div class="images-container">
                        <div class="column">
                            <div class="main-imgbox" onmousemove="moveLens(event)" onmouseleave="hideLens()">
                                <!-- <img class="main-img" src="/img/img19.png" alt=""> -->
                                <div class="lens" id="lens"></div>
                                <img class="main-img" src="<%= allProductDetails.images[0] %>" alt="<%= allProductDetails.filename %>">
                            </div>
                            <div class="slide-wrapper"></div>
                        </div>

                        <div class="sub-imageContainer" style="justify-content: unset;">
                            <% for (let i = 1; i < allProductDetails.images.length; i++) { %>
                                <div class="sub-img<%= i %>">
                                    <img  src="<%= allProductDetails.images[i] %>" alt="<%= allProductDetails.filename %>" onclick="changeMainImage('<%= allProductDetails.images[i] %>')">

                                </div>
                            <% } %>
                        </div>
                    </div> 
                    

                    <div class="mainleft-section">
                        <p class="brand-name"><%= allProductDetails.productName %></p>
                        <p class="description"><%= allProductDetails.productDescription %></p>
                        <div class="rating-box"><span>4.2</span>
                            <svg class="star-icon" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.501 0.65625L15.5249 9.35417L24.7322 9.54271L17.3937 15.1062L20.0603 23.9208L12.4999 18.6604L4.94159 23.9208L7.60825 15.1062L0.270752 9.54271L9.47804 9.35521L12.4999 0.65625H12.501Z" fill="#B1A250"/>
                                </svg>
                                
                             | <span class="rating-got">1.5K Rating</span></div>
                        <div class="finishingline-0"></div>
                        <p class="all-prices"><span class="last-price">Rs. <%= allProductDetails.lastPrice %></span><span class="first-price">Rs. <%= allProductDetails.firstPrice %></span><span class="offer-text">(<%= allProductDetails.discount %>% OFF)</span></p>
                        <!-- <div class="price-line"></div> -->
                        <p class="quantity-txt">Quantity: <span class="quantity-box">1</span>
                            <svg class="below-arrow" width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7857 0.710313L9.96 11.9088L2.13429 0.710313L0 2.0677L9.96 16.3203L19.92 2.0677L17.7857 0.710313Z" fill="#020202"/>
                            </svg>
                            </p>

                            <!-- <div class="bag-box"> -->
                                <form action="/shopping-cart" method="post" >   <!--  onsubmit="return toggleButtonText();"   -->
                                    <input type="hidden" name="id" value="<%= allProductDetails._id %>">
                                    <button type="submit" class="bag-box" id="addToBagButton">ADD TO BAG</button>
                                </form>
                            <!-- </div> -->

                            

                            <!-- <div class="wishlist-box"> -->
                                <form action="/wishlist" method="post" >   
                                    <input type="hidden" name="id" value="<%= allProductDetails._id %>">
                                    <button type="submit" class="wishlist-box" id="addToBagButton"><svg class="wishlist-icon" width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M32.75 10.8526C32.75 23.1054 17.5753 33.0233 16.9291 33.4329C16.7588 33.5426 16.5684 33.6 16.375 33.6C16.1816 33.6 15.9912 33.5426 15.8209 33.4329C15.1747 33.0233 0 23.1054 0 10.8526C0.0027088 7.97528 0.95861 5.21677 2.65799 3.18222C4.35737 1.14768 6.66145 0.00324305 9.06473 0C12.0839 0 14.7273 1.55437 16.375 4.18174C18.0227 1.55437 20.6661 0 23.6853 0C26.0886 0.00324305 28.3926 1.14768 30.092 3.18222C31.7914 5.21677 32.7473 7.97528 32.75 10.8526Z" fill="black" fill-opacity="0.93"/>
                                        </svg> 
                                        WISHLIST</button>
                                </form>
                            <!-- </div> -->

                        
                        <!-- <div class="wishlist-box">
                            <svg class="wishlist-icon" width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M32.75 10.8526C32.75 23.1054 17.5753 33.0233 16.9291 33.4329C16.7588 33.5426 16.5684 33.6 16.375 33.6C16.1816 33.6 15.9912 33.5426 15.8209 33.4329C15.1747 33.0233 0 23.1054 0 10.8526C0.0027088 7.97528 0.95861 5.21677 2.65799 3.18222C4.35737 1.14768 6.66145 0.00324305 9.06473 0C12.0839 0 14.7273 1.55437 16.375 4.18174C18.0227 1.55437 20.6661 0 23.6853 0C26.0886 0.00324305 28.3926 1.14768 30.092 3.18222C31.7914 5.21677 32.7473 7.97528 32.75 10.8526Z" fill="black" fill-opacity="0.93"/>
                                </svg>                                
                            <p class="wishlist-txt">WISHLIST</p>
                        </div>  -->
                        <p class="og-txt">100% Original Products</p>
                        <p class="return-txt">Easy 14 days returns and exchange</p>
                        <div class="finishingline-2"></div>
                        <p class="review-head">Customer Reviews(18)</p>
                        

                        <p><span class="review-icon"><svg class="review-icon" width="47" height="26" viewBox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="47" height="26" fill="#63A2A6"/>
                            <g clip-path="url(#clip0_0_1)">
                            <path d="M31.5009 1.55078L34.041 8.85703L41.7752 9.01541L35.6108 13.6888L37.8508 21.093L31.5 16.6743L25.151 21.093L27.391 13.6888L21.2275 9.01541L28.9617 8.85791L31.5 1.55078H31.5009Z" fill="white"/>
                            </g>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0001 7C18.0001 6.73478 17.8947 6.48043 17.7072 6.29289C17.5196 6.10536 17.2653 6 17.0001 6H10.0001C9.76889 6.00002 9.54486 6.08014 9.3661 6.22673C9.18734 6.37331 9.06488 6.57731 9.01957 6.804L8.01957 11.804C7.98088 11.9979 8.00052 12.1989 8.07603 12.3816C8.15154 12.5643 8.27951 12.7206 8.44378 12.8306C8.60806 12.9406 8.80126 12.9995 8.99896 12.9997C9.19667 13 9.39002 12.9416 9.55457 12.832C9.89057 12.608 11.1976 12 13.0001 12C13.7957 12 14.5588 12.3161 15.1214 12.8787C15.684 13.4413 16.0001 14.2044 16.0001 15C16.0001 15.7957 15.684 16.5587 15.1214 17.1213C14.5588 17.6839 13.7957 18 13.0001 18H11.8911C10.9796 18 10.2191 17.4315 9.94057 16.66C9.89592 16.5365 9.82738 16.423 9.73887 16.326C9.65035 16.2289 9.54359 16.1503 9.42469 16.0946C9.30578 16.0388 9.17706 16.007 9.04586 16.001C8.91467 15.995 8.78358 16.0149 8.66007 16.0595C8.53656 16.1042 8.42306 16.1727 8.32604 16.2612C8.22902 16.3497 8.15038 16.4565 8.09462 16.5754C8.03886 16.6943 8.00706 16.823 8.00105 16.9542C7.99504 17.0854 8.01492 17.2165 8.05957 17.34C8.62257 18.899 10.1331 20 11.8911 20H13.0001C15.7616 20 18.0001 17.7615 18.0001 15C18.0001 12.2385 15.7616 10 13.0001 10C11.9931 10 11.0926 10.152 10.3481 10.36L10.8201 8H17.0001C17.2653 8 17.5196 7.89464 17.7072 7.70711C17.8947 7.51957 18.0001 7.26522 18.0001 7Z" fill="white"/>
                            <defs>
                            <clipPath id="clip0_0_1">
                            <rect width="21" height="21" fill="white" transform="translate(21 1)"/>
                            </clipPath>
                            </defs>
                            </svg></span><span class="review-1">Totally in love with the watch, it has all the
                                premium<br>feels and look. Loving it. Must buy!</p>
                                <p class="reviewer1"><span>Saniya</span> | <span>16 Aug 2022</span></p>
                        <p><span class="review-icon"><svg class="review-icon" width="47" height="26" viewBox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="47" height="26" fill="#63A2A6"/>
                            <g clip-path="url(#clip0_0_1)">
                            <path d="M31.5009 1.55078L34.041 8.85703L41.7752 9.01541L35.6108 13.6888L37.8508 21.093L31.5 16.6743L25.151 21.093L27.391 13.6888L21.2275 9.01541L28.9617 8.85791L31.5 1.55078H31.5009Z" fill="white"/>
                            </g>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0001 7C18.0001 6.73478 17.8947 6.48043 17.7072 6.29289C17.5196 6.10536 17.2653 6 17.0001 6H10.0001C9.76889 6.00002 9.54486 6.08014 9.3661 6.22673C9.18734 6.37331 9.06488 6.57731 9.01957 6.804L8.01957 11.804C7.98088 11.9979 8.00052 12.1989 8.07603 12.3816C8.15154 12.5643 8.27951 12.7206 8.44378 12.8306C8.60806 12.9406 8.80126 12.9995 8.99896 12.9997C9.19667 13 9.39002 12.9416 9.55457 12.832C9.89057 12.608 11.1976 12 13.0001 12C13.7957 12 14.5588 12.3161 15.1214 12.8787C15.684 13.4413 16.0001 14.2044 16.0001 15C16.0001 15.7957 15.684 16.5587 15.1214 17.1213C14.5588 17.6839 13.7957 18 13.0001 18H11.8911C10.9796 18 10.2191 17.4315 9.94057 16.66C9.89592 16.5365 9.82738 16.423 9.73887 16.326C9.65035 16.2289 9.54359 16.1503 9.42469 16.0946C9.30578 16.0388 9.17706 16.007 9.04586 16.001C8.91467 15.995 8.78358 16.0149 8.66007 16.0595C8.53656 16.1042 8.42306 16.1727 8.32604 16.2612C8.22902 16.3497 8.15038 16.4565 8.09462 16.5754C8.03886 16.6943 8.00706 16.823 8.00105 16.9542C7.99504 17.0854 8.01492 17.2165 8.05957 17.34C8.62257 18.899 10.1331 20 11.8911 20H13.0001C15.7616 20 18.0001 17.7615 18.0001 15C18.0001 12.2385 15.7616 10 13.0001 10C11.9931 10 11.0926 10.152 10.3481 10.36L10.8201 8H17.0001C17.2653 8 17.5196 7.89464 17.7072 7.70711C17.8947 7.51957 18.0001 7.26522 18.0001 7Z" fill="white"/>
                            <defs>
                            <clipPath id="clip0_0_1">
                            <rect width="21" height="21" fill="white" transform="translate(21 1)"/>
                            </clipPath>
                            </defs>
                            </svg></span><span class="review-1">This watch is everything I was looking for – premium feels,<br> stylish looks.
                             I'm in love! A must-have in your collection</p>
                        <p class="reviewer2"><span>Saniya</span> | <span>16 Aug 2022</span></p>
                        <div class="finishingline-3"></div>
                        <p class="remaining-txt">View all reviews</p> 
                    </div>
                    
                     <!--to here }  -->
                </div>
            </div>
        </div>
    </main>
    <!-- /main section -->


    <!-- footer section -->
    <footer class="footer-section m-0" style="overflow-x: hidden;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="last-section">

                        <p class="logo-text">Time Trove</p>

                        <div class="left-texts">
                            <p class="bold-text1">Customer Service</p>
                            <i class="fa-brands fa-whatsapp wtsp-icon"></i>
                            <i class=" fa-regular fa-envelope email-icon"></i>
                            <ul class="links1">
                                <li class="left-subtexts">+91 8756575677</li>
                                <li class="left-subtexts">(Mon-Fri,9:00am - 5:00pm)</li>
                                <li class="email left-subtexts" style="margin-top:12px;"><a class="links"
                                        href="#">tt@timetrove.com</a></li>
                            </ul>
                        </div>

                        <div class="right-texts" style="text-decoration: none;">
                            <p class="bold-text2">Product Help</p>
                            <ul class="links2 p-0">
                                <li class="right-subtexts"><a href="#" class="links">Return and
                                        Cancellation<br>Policy</a></li>
                                <li class="right-subtexts s-policy" style="margin-top:12px;">
                                    <a href="#" class="links">Shipping & delivery Policy</a>
                                </li>
                            </ul>
                        </div>

                        <div class="footer-icons">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-youtube"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer section -->



    
    <!-- js for add to cart text change -->
    <script>
        function toggleButtonText() {
            // Get the button element
            var button = document.getElementById('addToBagButton');

            // Check the current button text
            if (button.innerText === 'ADD TO BAG') {
                // If it's "ADD TO BAG," change to "GO TO CART"
                button.innerText = 'GO TO CART';
            } else {
                // If it's "GO TO CART," redirect to the cart page
                window.location.href = '/shopping-cart';
            }

            // Return false to prevent the default form submission behavior
            return false;
        }
    </script>
<!-- end of add to cart text change -->




<!-- <script src="../js/img-zoom.js"></script> -->
    <!-- image zoom js -->
    <script>
        var mainImg = document.querySelector('.main-img');
        var lens = document.getElementById('lens');
    
        function moveLens(event) {
            var imgRect = mainImg.getBoundingClientRect();
            var x = event.clientX - imgRect.left;
            var y = event.clientY - imgRect.top;
    
            var lensX = x - lens.offsetWidth / 2;
            var lensY = y - lens.offsetHeight / 2;
    
            lens.style.left = lensX + 'px';
            lens.style.top = lensY + 'px';
            lens.style.backgroundImage = 'url("' + mainImg.src + '")';
            lens.style.backgroundPosition = '-' + (x * 4 - lens.offsetWidth / 2) + 'px -' + (y * 4 - lens.offsetHeight / 2) + 'px';
            lens.style.display = 'block'; // make the lens visible
        }
    
        function hideLens() {
            lens.style.display = 'none'; // hide the lens
        }
    
        function changeMainImage(src) {
            // swap src between main image and clicked sub-image
            var tempSrc = mainImg.src;
            mainImg.src = src;
    
            // trigger moveLens to zoom the new main image
            var event = new Event('mousemove');
            moveLens(event);
    
            // swap background image of lens with the swapped images
            lens.style.backgroundImage = 'url("' + tempSrc + '")';
        }
    </script>
    
    <!--end of image zoom js -->
    
    


    <!-- bootstrap links -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- /bootstrap links -->


   

</body>

</html>